.contactos h2{
    margin:10vh 0;
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
}

.contactos__container{
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 3vw;
    text-align: right;
    text-transform: uppercase;
}

.contactos__item{
    display:flex;
    justify-content: space-between;
    align-items:center;
    transition:0.5s;
}

.contactos__item h3{
    color: var(--color_1);
    margin:1em 0;
    font-weight: 700;
    font-size: large;
}

.contactos__item p{
    color:var(--color_5);
    font-size:small;
    margin: 1em 0;
}

.contactos__iframe{
    display: flex;
    justify-content: center;
}
.contactos__iframe iframe{
    width:100%;
    height: 50vh;
    margin: 3vh 3vw;
    border:3px solid #000;
}
@media screen and (min-width: 900px){
    .contactos__container{
        grid-template-columns: repeat(4, 1fr);
        margin: 0;
        text-align: center;
    }

    .contactos__item{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .contactos__item:hover{
        transform: scale(1.5);
    }
    .contactos h2{
        margin: 10vh 0;
    }
}