footer{
    background-color: var(--color_1);
    position: relative;
    z-index: 0;
    line-height: 1.5;
}

footer::after{
    content: "";
    background-image: url("/public/images/toa/hexagon_background.jpg");
    opacity: 0.1;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -10;
    background-repeat: repeat;
    background-size: 30px;
}

.media{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3vw 0;
}

.media a{
    display: flex;
    align-items:center;
}

.media img{
    width: 5vw;
    max-width: 30px;
    height: 5vw;
    max-height: 30px;
}

footer p{
    margin: 0;
    font-size: x-small;
    text-align: center;
    color: var(--color_4);
}

@media screen and (min-width: 900px){
    .media{
        padding: 1vw 0;
    }
}
