.hero{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    height: 30vh;
}

.hero::after{
    content: "";
    background:var(--color_1);
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -10;
}

.hero img{
    max-height:100%;
    max-width: 100%;
}

.hero__container{
    position: absolute;
    bottom:0;
}

.hero button{
    background: none;
    border: none;
    font-size: xx-large;
    font-weight: 700;
    margin: 0 10vw;
}

@media screen and (min-width: 900px){
    .hero{
        height:90vh;
    }
}
@media screen and (min-width: 1920px){
    .hero{
        height:30vh;
    }
    .hero button{
        margin: 0 3vw;
    }
}