main{
    min-height: 50vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container, form{
    margin:3vw;
    border: 5px solid #000;
    background: var(--color_1);
    position: relative;
    z-index: 0;
    color:var(--color_4);
}

.container:after, form::after{
    content: "";
    background-image: url("/public/images/toa/hexagon_background.jpg");
    opacity: 0.1;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -10;
    background-repeat: repeat;
    background-size: 30px;
}

form{
    padding: 10vw;
}

label{
    display: flex;
    justify-content: space-between;
}

form button{
    margin-top: 10vw;
    border: 3px double #000;
    border-radius: 10%;
    background: var(--color_3);
    color: var(--color_4);
    font-size: large;
    transition: 0.5s;
}

form button:hover{
    transform: scale(2);
}

h2{
    margin-top: 0;
}

.container :first-child{
    font-weight: bold;
    font-size: x-large;
}

.container :last-child{
    margin: 5vw;
}

select, input:not([type=date]){
    width: 35vw;
    transition: width 2s;
}

input[type=text]:focus, input[type=email]:focus{
    width:67%;
}

.calendario{
    align-items: center;
}

@media screen and (min-width:600px){
    form{
        padding: 5vw;
    }
}

@media screen and (min-width:900px){
    label{
        flex-direction: column;
        align-items: baseline;
    }
    form{
        padding: 3vw;
        min-width: 400px;
    }
    select, input:not([type=date]){
        width: 100%;
        margin: 1vw 0;
    }
    input[type=text]:focus, input[type=email]:focus{
        width:100%;
    }
    main{
        align-items:center;
    }
    form button{
        margin-top: 5vw;
    }
    .container, form{
        margin: 0 0 3vw 0;
    }
}

@media screen and (min-width:1920px){
    form{
        padding: 1vw;
    }
    form button{
        margin-top: 1vw;
    }
    .container :last-child{
        margin: 2vw;
    }
    main{
        min-height: 25vh;
    }
}