.marcacoes{
    min-height: 50vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.marcacoes .container, .marcacoes form{
    margin:3vw;
    border: 5px solid #000;
    background: var(--color_5);
    position: relative;
    z-index: 0;
    color:var(--color_2);
}

.marcacoes .container:after, .marcacoes form::after{
    content: "";
    background-image: url("/public/images/toa/hexagon_background.jpg");
    opacity: 0.1;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -10;
    background-repeat: repeat;
    background-size: 30px;
}

.marcacoes form{
    padding: 10vw;
}

.marcacoes label{
    display: flex;
    justify-content: space-between;
}

.marcacoes form button{
    margin-top: 10vw;
    border: 3px double var(--color_5);
    border-radius: 10%;
    background: var(--color_2);
    color: var(--color_4);
    font-size: large;
    transition: 0.5s;
}

.marcacoes form button:hover{
    transform: scale(2);
}

.marcacoes h2{
    text-align: center;
    margin-bottom: 0.83em;
    font-size: x-large;
    font-weight: 700;
}

.marcacoes .container :first-child{
    font-weight: bold;
    font-size: x-large;
}

.marcacoes .container :last-child{
    margin: 5vw;
}

.marcacoes select, .marcacoes input:not([type=date]){
    width: 35vw;
    transition: width 2s;
}

.marcacoes input[type=text]:focus, .marcacoes input[type=email]:focus{
    width:67%;
}

.marcacoes .calendario{
    align-items: center;
}

@media screen and (min-width:650px){
    .marcacoes form{
        padding: 5vw;
    }
}

@media screen and (min-width:900px){
    .marcacoes label{
        flex-direction: column;
        align-items: baseline;
    }
    .marcacoes form{
        padding: 3vw;
        min-width: 400px;
    }
    .marcacoes select, .marcacoes input:not([type=date]){
        width: 100%;
        margin: 1vw 0;
    }
    .marcacoes input[type=text]:focus, .marcacoes input[type=email]:focus{
        width:100%;
    }
    .marcacoes main{
        align-items:center;
    }
    .marcacoes form button{
        margin-top: 5vw;
    }
    .marcacoes .container, .marcacoes form{
        margin: 0 0 3vw 0;
    }
}

@media screen and (min-width:1920px){
    .marcacoes form{
        padding: 1vw;
    }
    .marcacoes form button{
        margin-top: 1vw;
    }
    .marcacoes .container :last-child{
        margin: 2vw;
    }
    .marcacoes main{
        min-height: 25vh;
    }
}