nav{
    display: flex;
    justify-content: space-evenly;
}
nav ul{
    display: flex;
    align-items:center;
    text-transform: uppercase;
    padding: 0;
    margin:0
}

.nav__list__item{
    display: none;
}

nav li {
    list-style-type: none;
    text-align: center;
}

nav h1 {
    max-width:30%;
}

.logo{
    max-width:100%;
    border-radius:15%;
    border: 5px solid var(--color_2);
    box-sizing: border-box;
    min-width: 30px;
}
nav a{
    text-decoration: none;
    color:var(--color_5);
}

nav a:hover{
    color:var(--color_1); 
}

.hamburguerBtn{
    width: 10vw;
    border:none;
    background: none;
    max-width: 60px;
}
.hamburguerBtn img{
    max-width: 100%;
}

.hamburguerMenu__list {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: absolute;
    top:20%;
    z-index: 10;
    background-color: var(--color_1);
    border: 5px solid #000;
}

.hamburguerMenu__list::after{
    content: "";
    background-image: url("/public/images/toa/hexagon_background.jpg");
    opacity: 0.1;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -10;
    background-repeat: repeat;
    background-size: 30px;
}

.hamburguerMenu__list a:hover{
    color:var(--color_4);
}

.navClose{
    position: absolute;
    top:0;
    right: 0;
    background: none;
    border:none;
    color:var(--color_4);
    font-weight: 700;
    font-size:x-small;
}

@media screen and (min-width:650px){
    nav h1{
        max-width:15%;
    }
}

@media screen and (min-width:900px){
    .nav__list__item{
        display: inline;
    }
    .hamburguerBtn{
        display: none;
    }
    .hamburguerMenu__list {
        display: none;
    }
    nav li {
        margin: 0 1vw ;
    }
}