.servicos h2{
    margin:10vh 0;
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
}

.servicos h3{
    color:var(--color_1);
    transition: 1s;
    margin-top:1vw;
}

.servicos__container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
}
.servicos__item{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    margin-bottom:10vw;
    font-size: large;
    font-weight: 700;
}
.servicos__img__container{
    transform:rotate(45deg);
    border:2px solid #000;
    overflow: hidden;
    margin-right:5vw;
    transition: 0.5s;
}
.servicos__img__container:hover{
    transform: scale(1.5);
}

.servicos h3:hover{
    transform: rotate(360deg);
}
.servicos__img{
    width:10vw;
    min-width:60px;
    max-width:100px;
    transform:rotate(-45deg);
    transition: 0.5s;
}
.servicos__img:hover{
    transform: rotate(0deg);
}
@media screen and (min-width:900px){
    .servicos__container{
        grid-template-columns: repeat(4, 1fr);
        text-align: center;
    }
    .servicos__item{
        flex-direction: column;
        margin-bottom:0;
    }
    .servicos__img__container{
        margin-right:0;
    }
    .servicos__img__container{
        margin-bottom:3vh;
    }
}