.sobre__nos{
    margin: 0 3vw;
}

.sobre__nos h2{
    margin:10vh 0;
    font-size: xx-large;
    text-align: center;
    font-weight: 700;
}

.sobre__nos__container{
    display:flex;
    flex-direction: column;
    align-items:center;
}
.sobre__nos__img{
    max-width: 30vw;
}
.sobre__nos__text{
    margin:0 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.sobre__nos__text h3{
    font-size: larger;
    font-weight: bold;
    margin: 1em;
}
.sobre__nos__text p{
    margin: 1em;
}
@media screen and (min-width: 900px){
    .sobre__nos__container{
        display:flex;
        flex-direction: row;
        border:5px solid #000;
        margin: 3vw;
        padding: 5px;
    }
}
@media screen and (min-width: 1920px){
    .sobre__nos__img{
        width: 10vw;
    }
}