body {
  --color_1:#500;
  --color_2:#111;
  --color_3:#A10;
  --color_4:#FFF;
  --color_5:#AAA;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  max-width: 1366px;
  margin: 0 auto;
}

html, body {
  overflow-y:auto;
  height:100%;
}

body::after{
  content: "";
  background-image: url("/public/images/toa/hexagon_background.jpg");
  opacity: 0.1;
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -10;
  background-repeat: repeat;
  background-size: 30px;
}

button{
  cursor:pointer;
}

.hide{
  display: none;
}