body {
  --color_1:#500;
  --color_2:#111;
  --color_3:#A10;
  --color_4:#FFF;
  --color_5:#AAA;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  max-width: 1366px;
  margin: 0 auto;
}
button{
  cursor:pointer;
}

.hide{
  display: none;
}